
.cardWrapper {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 3.125rem;
  }
  
  .cardWrapper > div {
    width: 100%;
  height: clamp(200px, 50vh, 320px);
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 3.125rem;
    padding: 0 0 0 3rem;

    @media (max-width: 768px) {
      padding: 0 0 0 1rem;
    }

    .overlay {
      position: absolute;
      z-index: 10;
      inset: 0;
      background: rgba(0, 0, 0, 0.157);
    }

     > img {
      width: 100%;
      height: 100%;
    }
  }

 .cardWrapper > .png {
      position: absolute;
       bottom: 0;
       left: auto;
       right: 0;
       width: clamp(140px, 80%, 360px);
       height: auto;
  
       > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
       }
    }
  
  .cardInfo {   
    padding: 1rem;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    color: #b0b0b0;
  }
  
  .cardWrapper  .cardInfo > div {
    max-width: 100%;
  }
  
  .cardWrapper .cardYear {
    padding: 0.5rem 0.5rem;
    width: fit-content;
    position: relative;
    font-size: 0.7rem;
    font-weight: 400;
    background: linear-gradient(to top left, #2caee12c, #ffffff4a);
    border-radius: 6px;
    color: white;
    letter-spacing: 1px;
  }
  
  .cardWrapper .cardTitle {
    height: 3rem;
    padding: 0.5rem 0 1rem;
    font-size: clamp(1.5rem, 2vw + 1rem, 2.5rem);
    font-weight: 600;
    text-align: left;
    line-height: 1.25;
    color: #fff;

    @media (max-width: 768px) {
      padding-top: 2rem;
    }
  }
  
 .cardWrapper .desc {
    position: relative;
    height: fit-content;
    width: 80%;
    height: 100px;
    font-size: clamp(1rem, 1vw, 2rem);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    cursor: pointer;
}

.desc:hover {
    overflow: auto;
    -webkit-line-clamp: unset;
    cursor: ns-resize;
}

.desc::-webkit-scrollbar {
    display: none; 
}